<h2 class="ta-center ta-left-b3">Example buttons with icons</h2> 
<p class="alert">
	Note: You need the castlecss-buttons and castlecss-icons packages or the <a href="https://github.com/CastleCSS/castlecss-boilerplate" target="_blank">castlecss-boilerplate</a> to combine icons and buttons.
</p>
<div class="block p pt-2x" style="background: #eee;">
	<div class="g mb-3x">
		<div class="b0_12 b2_06 b6_04"><a href="#" class="btn btn-full mb"><i class="fa fa-angle-right"></i> Read more</a></div>
		<div class="b0_12 b2_06 b6_04"><a href="#" class="btn-theme01 btn-full mb"><i class="fa fa-edit"></i> Edit</a></div>
		<div class="b0_12 b2_06 b6_04"><a href="#" class="btn-theme02 btn-full mb"><i class="fa fa-cloud"></i> Cloud</a></div>
		<div class="b0_12 b2_06 b6_04"><a href="#" class="btn-theme03 btn-full mb"><i class="fa fa-globe"></i> Globe</a></div>
		<div class="b0_12 b2_06 b6_04"><a href="#" class="btn-theme04 btn-full mb"><i class="fa fa-spinner fa-spin"></i> Spin</a></div>
		<div class="b0_12 b2_06 b6_04"><a href="#" class="btn-theme05 btn-full mb"><i class="fa fa-list"></i> List</a></div>
	</div>
	<pre class="brush: xml;">
		<a href="#" class="btn btn-full"><i class="fa fa-angle-right"></i></a>
		<a href="#" class="btn-theme01 btn-full"><i class="fa fa-edit"></i></a>
		<a href="#" class="btn-theme02 btn-full"><i class="fa fa-cloud"></i> </a>
		<a href="#" class="btn-theme03 btn-full"><i class="fa fa-globe"></i> </a>
		<a href="#" class="btn-theme04 btn-full"><i class="fa fa-spinner fa-spin"></i></a>
		<a href="#" class="btn-theme05 btn-full"><i class="fa fa-list"></i></a>
	</pre>
</div>