<!-- End Google Tag Manager -->
<header id="header" class="nav-container p-3x">
	<div class="nav-label">menu</div>
	<a class="nav-logo" href="index.html"><img src="img/logo-castlecss.png"></a>
	<ul class="doc-menu list-unstyled">
		<li><a href="about.html">About CastleCSS</a></li>
		<li>
			<a href="installation.html">Installation</a>
		</li>
		<li><a href="variables.html">Variables</a></li>
		<li>
			<a href="grid.html">Breakpoints &amp; Grid</a>
			<ul class="list-unstyled">
				<li>
					<a href="grid.html#basicexamples">The basics</a>
				</li>
				<li>
					<a href="grid.html#breakpoints">Breakpoints</a>
				</li>
				<li>
					<a href="grid.html#basicexamples">Basic grid examples</a>
				</li>
				<li>
					<a href="grid.html#gutters">Gutters</a>
				</li>
				<li>
					<a href="grid.html#directionalignment">Direction and alignment</a>
				</li>
			</ul>
		</li>
		<li><a href="utility.html">Utility classes</a></li>
		<li><a href="utility_spacers.html">Utility spacers</a></li>
		<li><a href="icons.html">Icons</a></li>
		<li><a href="buttons.html">Buttons</a></li>
		<li><a href="notifications.html">Notifications / alerts</a></li>
		<li><a href="mixins.html">Mixins</a></li>
	</ul>
</header>
