{% set currentPageId = 'about' %}{% set pageTitle = 'About - CastleCSS' %}{% include "inc/header.html" %}

	<!-- Main -->
	<div class="b0_12 b4_14 b4_push_01">
		<div class="p p-b3-3x">
			<div class="block">
				<h1>About CastleCSS</h1>
				<p class="intro">A modular, easy to use SCSS Framework</p>

				<h2>What is CastleCSS? </h2>
				<p >CastleCSS is a mobile first SCSS framework with modular building blocks for the web. It's also fully updateable! No more worrying if your base files are still correct, we keep the files up-to-date for you!</p>
			</div>
			<div class="block">
				<h2>Why did we create CastleCSS?</h2>
				<p>Years ago, when the responsive web was on the rise, none of the existing mobile first frameworks lived up to our specific needs. We did not believe in things like device specific classes and the grids did not offer the flexibility we required... So, we started creating our own Fortress in HTML/CSS/JS and have been expanding it ever since.</p>

				<p>Now, we want to share our way of working with the world.</p>
			</div>
			<div class="block">
				<h2>What makes CastleCSS different?</h2>
				<p>Unlike other Frameworks, we do n&oacute;t include everything, but only what you need. The core is a kickstart to your website, which you can extend with several extensions.</p>

				<p>Our philosophy is mobile first, easy to update, self explanatory code. We want to be able to keep you up to date with the latest version of CastleCSS, which is only possible if you follow the installation instructions.</p>
				<div>
					<a class="btn-theme04 mb" href="installation.html"><i class="fa fa-book"></i> Installation instructions</a>
					<a href="https://github.com/castlecss/castlecss-boilerplate" class="btn-theme02" aria-label="Watch castlecss/castlecss-boilerplate on GitHub" target="_blank"><i class="fa fa-github"></i> Watch on github</a>
					<a href="https://github.com/castlecss/castlecss-boilerplate/archive/master.zip" class="btn" aria-label="Download castlecss/castlecss-boilerplate on GitHub" target="_blank"><i class="fa fa-cloud-download"></i> Download boilerplate</a>
				</div>
			</div>
		</div>
	</div>
	<!-- End main -->

{% include "inc/footer.html" %}