{% set currentPageId = 'forms' %}{% set pageTitle = 'Forms - CastleCSS' %}{% include "inc/header.html" %}

	<!-- Main -->
	<div class="b0_12 b4_14 b4_push_01">
		<div class="p p-b3-3x">
			<div class="block js-forms"> 
				<h1>Forms</h1>
				<h2>Label placement</h2>
				<div class="g">
					<div class="b0_12 b3_08">
						<ul class="fields g">
							<li class="b0_12">
								<b>Ontop of field</b>
							</li>
							<li class="b0_12">
								<div class="form-field">
									<label for="lable1a">Label</label>
									<input class="text" type="text" name="Naam" id="lable1a" value="">
								</div>
							</li>
						</ul>
					</div>
					<div class="b0_12 b3_08">
						<ul class="fields formlabel-top g">
							<li class="b0_12 mb-2x">
								<b>Moves ontop of field</b>
							</li>
							<li class="b0_12">
								<div class="form-field">
									<label for="lable2a">Label</label>
									<input class="text" type="text" name="Naam" id="lable2a" value="">
								</div>
							</li>
						</ul>
					</div>
					<div class="b0_12 b3_08">
						<ul class="fields formlabel-bottom g">
							<li class="b0_12 mb-2x">
								<b>Moves bottom inside field</b>
							</li>
							<li class="b0_12">
								<div class="form-field">
									<label for="lable3a">Label</label>
									<input class="text" type="text" name="Naam" id="lable3a" value="">
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="g">
					<div class="gi b0_12 b3_12">
						<ul class="fields formlabel-top g"> 
							<li class="b0_12 mt-2x"><h2>Textarea's</h2></li>
							<li class="b0_12 ">
								<div class="form-field">
									<label for="textarea">Textarea</label>
									<textarea maxlength="30000" cols="50" rows="10" id="textarea" name="textarea"></textarea> 
								</div> 
							</li>
						</ul>
					</div>
					<div class="gi b0_12 b3_12">
						<ul class="fields formlabel-bottom g"> 
							<li class="b0_12 mt-2x"><h2>Textarea's</h2></li>
							<li class="b0_12 ">
								<div class="form-field">
									<label for="textarea">Textarea</label>
									<textarea maxlength="30000" cols="50" rows="10" id="textarea" name="textarea"></textarea> 
								</div> 
							</li>
						</ul>
					</div>
				</div>
				<ul class="fields formlabel-top g">
					<li class="b0_12 mt-2x mb-2x">
						<h2>Custom Checkbox</h2>
						<b>Label right & Inline</b>
					</li>
					<li class="b0_12">
						<div class="form-field form-inline">
							<label class="input-control input-checkbox">First checkbox
								<input type="checkbox" checked="checked"/>
								<div class="input-indicator"></div>
							</label>
							<label class="input-control input-checkbox">First checkbox
								<input type="checkbox" checked="checked" disabled />
								<div class="input-indicator"></div>
							</label>
							<label class="input-control input-checkbox">First checkbox
								<input type="checkbox" checked="checked"/>
								<div class="input-indicator"></div>
							</label>
						</div>
					</li>
					<li class="b0_12"><b>Label left</b></li>
					<li class="b0_12 label-left">
						<label class="input-control input-checkbox">First checkbox
							<input type="checkbox" checked="checked"/>
							<div class="input-indicator"></div>
						</label>
						<label class="input-control input-checkbox">First checkbox
							<input type="checkbox" checked="checked" disabled />
							<div class="input-indicator"></div>
						</label>
						<label class="input-control input-checkbox">First checkbox
							<input type="checkbox" checked="checked"/>
							<div class="input-indicator"></div>
						</label>
					</li>
					<li class="b0_12 mt-2x"><h2>Custom Radio</h2></li>
					<li class="b0_12">
						<label class="form-block">Choose</label>
						<div class="form-field form-inline">
							<label class="input-control input-radio">First radio
								<input type="radio" name="radio2" checked="checked"/>
								<div class="input-indicator"></div>
							</label>
							<label class="input-control input-radio">Second radio
								<input type="radio" name="radio2"/>
								<div class="input-indicator"></div>
							</label>
						</div>
					</li>
					<li class="b0_12">
						<label class="input-control input-radio">First radio
							<input type="radio" name="radio" checked="checked"/>
							<div class="input-indicator"></div>
						</label>
						<label class="input-control input-radio">Second radio
							<input type="radio" name="radio"/>
							<div class="input-indicator"></div>
						</label>
					</li> 
					<li class="b0_12 mt-2x"><h2>Custom select</h2></li>
					<li class="b0_12 input-select">
						<select>
							<option>First select</option>
							<option>Option</option>
							<option>Option</option>
						</select>
					</li>
				</ul>
				<ul class="fields formlabel-bottom g"> 
					<li class="b0_12 mt-2x"><h2>Combined input/button</h2></li>
					<li class="b0_12 ">
						<div class="form-field input-icon">
							<label for="search">Product sku</label>
							<div class="combined-item fa fa-search">
								<input type="search" name="search" class="form-input" id="search">
								<button	type="submit" class="btn btn-submit">Search</button>
							</div>
						</div> 
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End main -->

	<!-- TODO CastleModules van maken : data-castlemodule='castlecss-forms' -->
	<script>
		$(function() {
			$('.js-forms').find('.form-field').each(function(){
				var $this = $(this);

				function setValue($field) {
					// Check if inputs or textareas have a value
					if( $field.val() == null )
						return;
					else if( $field.val().length > 0 )
						$field.parents('.form-field').addClass('has-value');
					else if( $field.val().length === 0 )
						$field.parents('.form-field').removeClass('has-value');
						// Check if select has an option selected with a value
					else if( field[0].tagName.match('select') && $field.find('option:selected').val() )
						$field.parents('.form-field').addClass('has-value');
					else
						$field.parents('.form-field').removeClass('has-value');
				}	
						
				// Get all formfields			
				var $formfields = $this.find('input, textarea, select');
				
				// Check if there is already a value
				$formfields.each(function(){
					setValue($(this));
				}).focus(function(){
					$(this).parents('.form-field').addClass('has-focus');
				}).focusout(function(){
					$(this).parents('.form-field').removeClass('has-focus');
				}).on('keyup change', function(){
					setValue($(this));
				});
			});
		});

		$(function() {
			$('select').each(function() {
				var $this = $(this);
				
				if ($this.parent('.select').length == 0) {
					$this.wrap('<div class="select">');

					$('.select').append('<div class="select-arrow">')
				}
			});
		});

	</script>

{% include "inc/footer.html" %}