{% set currentPageId = 'forms' %}{% set pageTitle = 'Forms - CastleCSS' %}{% include "inc/header.html" %}

	<!-- Main -->
	<div class="b0_12 b4_14 b4_push_01">
		<div class="p p-b3-3x">
			<section class="block">
				<h1>Forms</h1>
				<p>Pellentesque elementum ultrices nisl eget efficitur. Nunc scelerisque libero leo. Curabitur finibus diam eget maximus maximus. Mauris id sem efficitur, ornare ex non, ultricies libero. Nulla convallis non ipsum eu aliquam. Aliquam imperdiet elit at lorem eleifend, eget vestibulum quam luctus. Sed ligula eros, sollicitudin nec luctus ac, consectetur quis massa. Praesent nec dictum leo.</p>
				<section class="inputs">
					<h2>Input</h2>
					<p>Aliquam imperdiet elit at lorem eleifend, eget vestibulum quam luctus. Sed ligula eros, sollicitudin nec luctus ac, consectetur quis massa. Praesent nec dictum leo.</p>
					<div class="g">
						<div class="b0_12 b3_12">
							<h3>Standard input</h3>
							<form class="form">
								<div class="fields">
									<div class="form-field">
										<label for="label">First name</label>
										<input class="text" type="text" name="Naam" id="label" value="">
									</div>
									<div class="form-field">
										<label for="label">Last name</label>
										<input class="text" type="text" name="Naam" id="label" value="">
									</div>
								</div>
							</form>
						</div>
						<div class="b0_12 b3_12">
							<h3>Input with button</h3>
							<form class="form">
								<div class="fields">
									<div class="form-field">
										<label for="search">Search</label>
										<div class="input-combined">
											<input type="search" name="search" class="form-input" id="search">
											<button	type="submit" class="btn btn-submit">Submit</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
				<section class="inputs js-forms">
					<h3>Label placement</h3>
					<p>Add the classes <code>.label-top</code> or <code>.label-bottom</code> to your field to adjust the position of the label. This not only works with inputs, but with textareas as well!</p>
					<div class="g">
						<div class="b0_12 b3_12">
							<h5>Moves to top</h5>
							<form class="form">
								<ul class="fields label-top">
									<li class="form-field">
										<label for="lable2a">Email</label>
										<input class="text" type="text" name="Naam" id="lable2a" value="">
									</li>
								</ul>
							</form>
						</div>
						<div class="b0_12 b3_12">
							<h5>Moves inside</h5>
							<ul class="fields label-bottom">
								<li class="form-field">
									<label for="lable3a">Email</label>
									<input class="text" type="text" name="Naam" id="lable3a" value="">
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="textareas js-forms">
					<h2>Textarea</h2>
					<div class="g">
						<div class="gi b0_12 b3_12">
							<ul class="fields label-top">
								<li class="form-field">
									<label for="textarea">Example</label>
									<textarea maxlength="30000" cols="50" rows="10" id="textarea" name="textarea"></textarea>
								</li>
							</ul>
							<div class="alert mb-2x">Remember the label placements mentioned above? The classes <code>.label-bottom</code> and <code>.label-top</code> also work well with textareas.</div>
						</div>
					</div>
				</section>
				<section class="checkboxes">
					<h2>Checkbox</h2>
					<p>Aliquam imperdiet elit at lorem eleifend, eget vestibulum quam luctus. Sed ligula eros, sollicitudin nec luctus ac, consectetur quis massa. Praesent nec dictum leo.</p>
					<h3>Standard checkbox</h3>
					<p>Aliquam imperdiet elit at lorem eleifend, eget vestibulum quam luctus. Sed ligula eros, sollicitudin nec luctus ac, consectetur quis massa. Praesent nec dictum leo.</p>
					<div class="g">
						<div class="b0_12 b3_12">
							<b>Select your favorite fruit</b>
							<ul class="fields">
								<li class="form-field">
									<label class="input-control input-checkbox">Orange
										<input type="checkbox" />
										<div class="input-indicator"></div>
									</label>
									<label class="input-control input-checkbox">Banana
										<input type="checkbox"  />
										<div class="input-indicator"></div>
									</label>
									<label class="input-control input-checkbox">Apple
										<input type="checkbox" />
										<div class="input-indicator"></div>
									</label>
									<label class="input-control input-checkbox">Pear
										<input type="checkbox" />
										<div class="input-indicator"></div>
									</label>
								</li>
							</ul>
						</div>
						<div class="b0_12 b3_12">
							<b>Select your favorite fruit</b>
							<ul class="fields label-left">
								<li class="form-field">
									<label class="input-control input-checkbox">Orange
										<input type="checkbox" />
										<div class="input-indicator"></div>
									</label>
									<label class="input-control input-checkbox">Banana
										<input type="checkbox"  />
										<div class="input-indicator"></div>
									</label>
									<label class="input-control input-checkbox">Apple
										<input type="checkbox" />
										<div class="input-indicator"></div>
									</label>
									<label class="input-control input-checkbox">Pear
										<input type="checkbox" />
										<div class="input-indicator"></div>
									</label>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="radios">
					<h2>Radio</h2>
					<div class="g">
						<div class="b0_12 b3_12">
							<h5>Vertical radios</h5>
							<p>Aliquam imperdiet elit at lorem eleifend, eget vestibulum quam luctus. </p>
							<ul class="g fields">
								<li class="b0_12">
									<label for="gender"><b>Gender</b></label>
									<label class="input-control input-radio">First radio
										<input type="radio" name="radio"/>
										<div class="input-indicator"></div>
									</label>
									<label class="input-control input-radio">Second radio
										<input type="radio" name="radio"/>
										<div class="input-indicator"></div>
									</label>
								</li>
							</ul>
						</div>
						<div class="b0_12 b3_12">
							<h5>Horizontal radios</h5>
							<p>Sed ligula eros, sollicitudin nec luctus ac, consectetur quis massa. Praesent nec dictum leo.</p>
							<code>.form-horizontal</code>
							<form class="form form-horizontal">
								<div class="fields">
									<div class="form-field">
										<label for="gender" class="label"><b>Gender</b></label>
										<label class="input-control input-radio">Male
											<input type="radio" name="radio2" checked="checked"/>
											<div class="input-indicator"></div>
										</label>
										<label class="input-control input-radio">Female
											<input type="radio" name="radio2"/>
											<div class="input-indicator"></div>
										</label>
									</div>
								</div>
							</form>
						</div>
				</section>
				<section class="select">
					<h2>Select</h2>
					<p>Fusce dapibus est nisl, eu mollis ex ultrices at. Nulla molestie gravida mauris et pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer volutpat, ipsum sit amet convallis vestibulum, mi magna malesuada orci, eu rhoncus arcu odio sed arcu. Nullam id convallis justo, a tempus leo. Praesent ut dignissim purus. Vestibulum vestibulum urna semper rutrum commodo.</p>
					<ul class="g fields">
						<li class="b0_12 input-select">
							<select>
								<option>First select</option>
								<option>Option</option>
								<option>Option</option>
							</select>
						</li>
					</ul>
				</section>
				<section class="horizontal-forms js-forms">
					<h2>Inline forms</h2>
					<p>Sed ligula eros, sollicitudin nec luctus ac, consectetur quis massa. Praesent nec dictum leo.</p>
					<h5>Input with add-on and button</h5>
					<form class="form form-horizontal">
						<div class="fields label-bottom">
							<div class="form-field input-icon">
								<label for="search">Product sku</label>
								<div class="input-combined fa fa-star">
									<input type="search" name="search" class="form-input" id="search">
									<button	type="submit" class="btn btn-submit">Search</button>
								</div>
							</div>
						</div>
					</form>

					<h5>Horizontal checkboxes</h5>
					<form class="form form-horizontal">
						<div class="fields">
							<div class="form-field">
								<label class="input-control input-checkbox">Orange
									<input type="checkbox">
									<div class="input-indicator"></div>
								</label>
								<label class="input-control input-checkbox">Banana
									<input type="checkbox">
									<div class="input-indicator"></div>
								</label>
								<label class="input-control input-checkbox">Apple
									<input type="checkbox">
									<div class="input-indicator"></div>
								</label>
								<label class="input-control input-checkbox">Pear
									<input type="checkbox">
									<div class="input-indicator"></div>
								</label>
							<div>
						</div>
					</form>

					<h5>Horizontal radios</h5>
					<form class="form form-horizontal">
						<div class="fields">
							<div class="form-field">
								<label class="input-control input-radio">Male
									<input type="radio" name="radio2" checked="checked"/>
									<div class="input-indicator"></div>
								</label>
								<label class="input-control input-radio">Female
									<input type="radio" name="radio2"/>
									<div class="input-indicator"></div>
								</label>
							<div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
	<!-- End main -->

	<!-- TODO CastleModules van maken : data-castlemodule='castlecss-forms' -->
	<script>
		$(function() {
			$('.js-forms').find('.form-field').each(function(){
				var $this = $(this);

				function setValue($field) {
					// Check if inputs or textareas have a value
					if( $field.val() == null )
						return;
					else if( $field.val().length > 0 )
						$field.parents('.form-field').addClass('has-value');
					else if( $field.val().length === 0 )
						$field.parents('.form-field').removeClass('has-value');
						// Check if select has an option selected with a value
					else if( field[0].tagName.match('select') && $field.find('option:selected').val() )
						$field.parents('.form-field').addClass('has-value');
					else
						$field.parents('.form-field').removeClass('has-value');
				}

				// Get all formfields
				var $formfields = $this.find('input, textarea, select');

				// Check if there is already a value
				$formfields.each(function(){
					setValue($(this));
				}).focus(function(){
					$(this).parents('.form-field').addClass('has-focus');
				}).focusout(function(){
					$(this).parents('.form-field').removeClass('has-focus');
				}).on('keyup change', function(){
					setValue($(this));
				});
			});
		});

		$(function() {
			$('select').each(function() {
				var $this = $(this);

				if ($this.parent('.select').length == 0) {
					$this.wrap('<div class="select">');

					$('.select').append('<div class="select-arrow">')
				}
			});
		});

	</script>

{% include "inc/footer.html" %}
