{% set currentPageId = 'index' %}{% set pageTitle = 'CastleCSS' %}{% set home = true %}{% include "inc/header.html" %}
	
	<!-- Main -->
	<div class="b0_12 b4_16 b5_18 b6_20">
		<div class="doc-mainvisual p pt-3x">
			<div>
				<h1>CastleCSS Framework</h1>
				<p class="intro">A modular, easy to use SCSS Framework.</p>
				<a class="btn mb-2x" href="installation.html"><i class="fa fa-thumbs-up"></i> Get started</a>
				<a href="https://github.com/castlecss/castlecss-boilerplate" class="btn-theme03" aria-label="Watch castlecss/castlecss-boilerplate on GitHub" target="_blank"><i class="fa fa-github"></i> Watch on github</a>
				<a href="https://github.com/castlecss/castlecss-boilerplate/archive/master.zip" class="btn-theme02" aria-label="Download castlecss/castlecss-boilerplate on GitHub" target="_blank"><i class="fa fa-cloud-download"></i> Download boilerplate</a>
				<p class="b3_hide">Or watch the <a class="open-documentation" href="?">documentation</a></p>
			</div>
		</div>
	</div>
	<!-- End main -->

{% include "inc/footer.html" %}


