{% set currentPageId = 'notifications' %}{% set pageTitle = 'Notifications - CastleCSS' %}{% include "inc/header.html" %}

	<!-- Main -->
	<div class="b0_12 b4_14 b4_push_01">
		<div class="p p-b3-3x">
			<div class="block">
				<h1>Notifications / alerts</h1>
				<p class="intro">The right way to inform your visitors</p>
				<p class="alert">
					Note: You need castlecss-notifications or the full package of CastleCSS for this.
				</p>
				<p>Use the <code>notify</code> and <code>alert</code> classes to make your messages stand out.</p>
				<p>Overwrite colors using your own <a href="variables.html">variable.scss</a> or overwrite all notifications/alerts with your own notifications.scss file.</p>
			</div>
			<div class="block">
				<div class="alert mb">Alert</div>
				<div class="alert-positive mb">Positive alert</div>
				<div class="alert-negative mb">Negative alert</div>
				<pre class="brush: xml;">
					<div class="alert">Alert</div>
					<div class="alert-positive">Positive alert</div>
					<div class="alert-negative">Negative alert</div></pre>
			</div>
			<div class="block">
				<div class="notify mb">Notification</div>
				<div class="notify-positive mb">Positive notification</div>
				<div class="notify-negative mb">Negative notificiation</div>
				<pre class="brush: xml;">
					<div class="notify">Notification</div>
					<div class="notify-positive">Positive notification</div>
					<div class="notify-negative">Negative notificiation</div></pre>
			</div>
		</div>
	</div>
	<!-- End main -->

{% include "inc/footer.html" %}